parameters:

    paths:
        - src

    # Level 10 is the highest level
    level: 8

    ignoreErrors:
#        - '#PHPDoc tag @mixin contains unknown class #'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
